<section>
  <div class="book-search p-5 m-2 bg-light rounded-3">
    <div class="text-center">
      <h1 class="display-5 fw-bold mb-3">Book Search</h1>
      <p class="fs-4">Search for a book to add and review</p>
      <form class="search-button d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" id="search-form" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</section>
    
<section class="container-fluid my-3" id="book-scroll">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-5">
        Book Image
      </div>
      <div class="col-6">
        <div class="card-body text-center">
          <h4 class="card-title">Book Title</h4>
          <p class="card-text">Book Description</p>
        </div>
      </div>
      <div class="col-1 d-flex align-items-center justify-content-center" id="searchAddBtn">
        <button class="btn" type="click"><i class="bi bi-plus-circle"></i></button>
      </div>
    </div>
  </div>
</section>

<script src="/js/book-search.js"></script>