    <section>
      <div class="p-5 m-2 bg-light rounded-3">
        <div class="container-fluid text-center">
          <h1 class="display-5 fw-bold">Book Page</h1>
          <p class="fs-4">Search for books to view their reviews</p>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
      </div>
    </section>
    <section class="container-fluid" id="book-scroll">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-6">
            Book Image
          </div>
          <div class="col-6">
            <div class="card-body text-center">
              <h6></h6>
              <h4 class="card-title">Book Title</h4>
              <p class="card-text">Book Description</p>
            </div>
          </div>
        </div>
      </div>


    </section>