    <section>
      <div class="p-5 m-2 bg-light rounded-3">
        <div class="container-fluid text-center">
          <h1 class="display-5 fw-bold">Book Page</h1>
          <p class="fs-4">Search for books to view their reviews</p>
          <form class="search-button d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" id="search-form" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
      </div>
    </section>
    

    <section class="container-fluid" id="book-listings">
      
    </section>




    <script src="/js/book-search.js"></script>