<section class="container-fluid my-2" id="book-scroll">
  <a href="/dashboard/book/1">
    <div class="card mb-3">
      <div class="row g-0">
        {{#each books}}
        <div class="col-6">
          Book Image
        </div>
        <div class="col-6">
          <div class="card-body text-center">
            <h6></h6>
            <h4 class="card-title">Book Title: {{title}}</h4>
            <p class="card-text">Book Description: {{description}}</p>
            <p>Number of reviews: {{reviews.length}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </a>
</section>

