<section class="container-fluid my-2" id="book-scroll">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-6">
        Book Image
      </div>
      <div class="col-6">
        <div class="card-body text-center">
          <h6></h6>
          <h4 class="card-title">Book Title</h4>
          <p class="card-text">Book Description</p>
        </div>
      </div>
    </div>
  </div>
</section>

