    <section class="homepage-main">
      <section class="site-description">
          <h1 class="display-5 fw-bold text-center mt-3 mb-3">Welcome to BookClub!</h1>
          <div class="mx-2">
            <p>
              Where you can find book recommendations and reviews for books you want to read. Share your book experience with others. Will the book be worth your time and money? Find out and see.
            </p>
          </div>
      </section>
      <section>
        <div class="carousel pb-3 my-4 bg-body rounded-3">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/reading.jpg" class="carousel-img d-block" alt="A person reading">
                <div class="carousel-caption fw-bold align-items-end">
                  <h5>Read A Book</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/reviews.jpg" class="carousel-img d-block" alt="A group of people with computers in front of them">
                <div class="carousel-caption fw-bold align-items-end">
                  <h5>Write A Book Review</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/recommendbook.jpg" class="carousel-img d-block" alt="Two persons looking at a book">
                <div class="carousel-caption fw-bold align-items-end">
                  <h5>Share Your Recommendations</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
      </section>

      <section class="">
        <h1 class="display-5 fw-bold text-center mt-3 mb-4">Ready to start?</h1>
        <div class="home-cards card mb-3">
          <div class="row g-0">
            <div class="col-5 col-md-6">
              <img src="images/welcome.jpg" class="img-fluid ins-img-1" alt="A person selecting a book">
            </div>
            <div class="col-7 col-md-6 d-flex align-items-center">
              <div class="card-body text-center">
                <h6>STEP 1</h6>
                <h3 class="card-title"><i class="bi bi-person-check me-1"></i>Join us</h3>
                <p class="ins-description card-text">Sign up or login to look at book information & reviews.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="home-cards card mb-3">
          <div class="row g-0">
            <div class="col-7 col-md-6 d-flex align-items-center">
              <div class="card-body text-center">
                <h6>STEP 2</h6>
                <h3 class="card-title"><i class="bi bi-pencil-square me-1"></i>Write a review</h3>
                <p class="ins-description card-text">Write an honest review about the book you read.</p>
              </div>
            </div>
            <div class="col-5 col-md-6">
              <img src="images/honestreview.jpg" class="img-fluid ins-img-2" alt="A person thinking and typing on their laptop">
            </div>
          </div>
        </div>

        <div class="home-cards card mb-3">
          <div class="row g-0">
            <div class="col-5 col-md-6">
              <img src="images/sharebooks.jpg" class="img-fluid ins-img-3" alt="Two persons enjoying books">
            </div>
            <div class="col-7 col-md-6 d-flex align-items-center">
              <div class="card-body text-center">
                <h6>
                  STEP 3
                </h6>
                <h4 class="card-title"><i class="bi bi-journal-check me-1"></i>Recommend Books</h4>
                <p class="ins-description card-text">Recommend books to family & friends based on reviews and books you've read</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>