#book-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .carousel-img {
    width: 100vw;
    height: 30vh;
  }
  
  .carousel h5 {
    font-size: large;
  }

  .site-description p {
    font-size: medium;
    text-align: justify;
  }

  .card-title {
    font-size: medium;
  }

  .card img {
    height: 150px;
  }

  .ins-description {
    font-size: small;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  main{
    max-width: 97%;
    margin: auto;
  }
  .carousel-img {
    width: 100vw;
    height: 50vh;
  }

  h6 {
    font-size: large;
  }
}